.color-picker {
  position: absolute;
}

.popup-max-changes-per-transaction {
  background-color: rgba(138, 138, 138, 0.3);
  display: flex;
  padding: 5px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}