$dashboard-icon-size: 1.75rem;

.dashboard {
  position: fixed;
  right: 6vw;
  top: 6vh;
  width: auto;
  height: auto;
  border: 1px solid hsl(0, 0%, 88%);
  background: hsla(0, 1%, 79%, 0.85);
  color: black;
  display: flex;
  flex-direction: column;
  z-index: 3;
  border-radius: 10px;
  user-select: none;
}

.dashboard-row {
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.dashboard-item {
  margin: 0.3rem 0.3rem;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-history {
  max-height: 30vh;
  overflow-y: scroll;
  flex-grow: 1;

  //noinspection CssUnknownProperty; for Firefox only.
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.board-history-table {
  width: 100%
}

.board-history-row {
  cursor: pointer;
  text-align: center;
}

.board-history-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-history-change-arrow-symbol {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.board-history-pixel-plate {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0;
  padding: 0;
}

.board-history-explorer-link {
  width: 1rem;
}

.react-toggle--checked .react-toggle-track {
  background-color: #512da8;
}

.react-toggle--checked .react-toggle-thumb {
  border-color: #512da8;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #351e75;
}

.grid-toggle {
  display: flex;
}

.dashboard-tooltip {
  padding: 0.5rem !important;
  font-size: 1rem !important;
  white-space: nowrap;
  background-color: hsla(0, 0%, 55%, 0.85) !important;
}

.online-status-tooltip {
  &-success {
    background-color: hsla(100, 50%, 50%, 0.75) !important;
  }

  &-connecting {
    background-color: hsla(0, 0%, 55%, 0.75) !important;
  }
}

.dashboard-icon-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $dashboard-icon-size;
  height: $dashboard-icon-size;

  &.checked-toggle {
    background-color: #a2a2a2;
    border-radius: 5px;
  }
}

@mixin dashboard-icon() {
  width: 1.5rem !important;
  height: 1.5rem !important;
  cursor: pointer;
}

.send-changes-pending-loader {
  @include dashboard-icon;
  animation-duration: 1.5s !important;

  border-color: rgb(227, 227, 0) rgb(227, 227, 0) hsla(0, 0%, 0%, 0) rgb(227, 227, 0) !important;
}

.send-changes-icon {
  @include dashboard-icon();

  &-enabled {
    color: green;
  }

  &-disabled {
    color: #888888;
    cursor: initial;
  }
}

.action-button-icon {
  @include dashboard-icon;
  color: #512da8;
}

.grid-icon {
  @include dashboard-icon;
}

.history-icon {
  @include dashboard-icon;
}

.grid-toggle-label {
  margin-left: 0.2rem;
}

.history-toggle-label {
  margin-left: 0.2rem;
}

.show-zoom-icon {
  @include dashboard-icon;
}

.online-status-icon {
  @include dashboard-icon;
}

.show-about-icon {
  @include dashboard-icon;
}

// Phantom class used by React Draggable on some elements to prevent dragging
.dashboard-cancel-draggable {
}

@media (max-width: 767px) {
  .dashboard-row {
    flex-direction: column;
  }
}