.dashboard {
  position: fixed;
  right: 6vw;
  top: 6vh;
  width: auto;
  height: auto;
  border: 1px solid hsl(0, 0%, 88%);
  background: hsla(0, 1%, 79%, 0.85);
  color: black;
  display: flex;
  flex-direction: column;
  z-index: 3;
  border-radius: 10px;
  user-select: none;
}

.dashboard-row {
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.dashboard-item {
  margin: 0.3rem 0.3rem;
  flex-grow: 1;
  display: flex;
}

.board-history {
  max-height: 30vh;
  overflow-y: scroll;
  flex-grow: 1;
}

.board-history-table {
  width: 100%
}

.board-history-row {
  cursor: pointer;
  text-align: center;
}

.board-history-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-history-change-arrow-symbol {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.board-history-pixel-plate {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0;
  padding: 0;
}

.board-history-explorer-link {
  width: 1rem;
}

.react-toggle--checked .react-toggle-track {
  background-color: #512da8;
}

.react-toggle--checked .react-toggle-thumb {
  border-color: #512da8;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #351e75;
}

.online-circle {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #76d583;

  &-holder {
    justify-content: end;
    align-items: center;
  }

  &-label {
    padding-left: 0.2rem;
  }

  &.online-circle-offline {
    background-color: rgba(255, 49, 49, 0.87);
  }

  &-tooltip {
    padding: 0.5rem !important;
    background-color: hsl(109, 50%, 50%) !important;
    font-size: 1rem !important;
    white-space: nowrap;
  }
}

.grid-toggle {
  display: flex;
}

.grid-toggle-label {
  margin-left: 0.2rem;
}

.history-toggle-label {
  margin-left: 0.2rem;
}