.loading-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50vw;
  top: 50vh;
  z-index: 9;
}

.loading-modal-spinner {
  height: 1.5rem;
  width: 1.5rem;
}

.loading-modal-status {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
